@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");


:root {
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100vw;
  box-sizing: content-box;
  font-family: "OpenSans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;



}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  width: 400px;
}


h1 {
  margin-bottom:
    100px;
  font-style: italic;
  font-weight: bolder;
  font-size: 50px;
  color: green;
  text-align: center;
  -webkit-text-stroke: 2px darkgreen;
}

#image_box {
  height: 100%;
  width: auto;
  cursor: pointer;
}

h3 {
  margin-top: 70px;
  font-size: x-large;
  text-transform: uppercase;
  color: white;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border-image: linear-gradient(#f6b73c, #4d9f0c, red) 10;
  border-width: 20px;
  border-style: solid;

}

.hero {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 50px;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* button styling */





button {
  position: absolute;
  right: 20%;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1rem;
  color: var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  margin-bottom: 25px;
}

button.big-button {
  padding: .5em 1em;
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
  transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}